name: Deploy Next.js Landing

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      #############################
      # Deploy Next.js Landing
      #############################
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.DO_SSH_KEY }}
          port: 22
          script: |
            echo "Limpiando caché de memoria..."
            sudo sync
            sudo sh -c "echo 3 > /proc/sys/vm/drop_caches"

            echo "Entrando a /var/www..."
            cd /var/www/

            echo "Eliminando versión anterior..."
            rm -rf spsolutions.app

            echo "Clonando repositorio..."
            git clone git@github.com:usuario/repo-next.git spsolutions.app

            cd spsolutions.app

            echo "Configurando variables de entorno..."
            if [ -f .env.production ]; then
              cp .env.production .env
            fi

            echo "Instalando dependencias..."
            npm install

            echo "Construyendo la app..."
            NODE_ENV=production npm run build

            echo "Reiniciando PM2..."
            pm2 delete nextjs 2>/dev/null || true
            PORT=3000 pm2 start npm --name "nextjs" -- start
            pm2 save

            echo "Deploy finalizado correctamente"
